<!DOCTYPE html>
<html>
<head>
  <title>Shosample</title>
<<<<<<< HEAD
  <%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
=======
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
>>>>>>> 967707958f67624331171250fa2e5f8d7113d389
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
